AnchorPane {
    -fx-background-image: url('coffre.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}


Label {
    -fx-font-family: "Impact";
    -fx-text-fill: #ffffff;
    -fx-font-size: 18px;
}

Button {
    -fx-font-family: "Impact";
    -fx-background-color: #040504; 
    -fx-text-fill: #ffffff; 
    -fx-font-size: 18px; 
    -fx-background-radius: 30px;
}